<!DOCTYPE html>
<html th:include="layouts/adminedit::adminedit"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="slim-mainpanel" th:fragment="content">
    <div class="container">
        <div th:replace="fragments/breadcrumbs::breadcrumbs"></div>

        <div class="section-wrapper">
            <div class="pd-10 mb-4 bd">
                <ul class="nav nav-pills flex-column flex-md-row" role="tablist">
                    <li class="nav-item"><a class="nav-link"
                                            th:href="@{'/admin/inward/edit/'+${model.inwardTruckBag.inwardTruck.inward.getId()}}"
                                            th:text="#{admin.menu.inward.basic}">
                        Basic</a></li>
                    <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"
                                            th:text="#{admin.menu.inward.trucks}">
                        Trucks</a></li>
                </ul>
            </div><!-- pd-10 -->
            <div class="pd-10 mt-2 bd-y bd-warning">
                <ul class="nav nav-pills flex-column flex-md-row" role="tablist">
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)"
                                            th:text="#{admin.menu.inward.trucks}">Trucks</a></li>
                    <li class="nav-item"><a class="nav-link active" href="javascript:void(0)"
                                            th:text="#{admin.menu.inward.bags}">Bags</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)"
                                            th:text="#{admin.menu.inward.invoice}">Invoice</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)"
                                            th:text="#{admin.menu.inward.qc}">QC</a></li>
                </ul>
            </div><!-- pd-10 -->
            <label class="section-title" th:text="${#strings.capitalizeWords(friendlyController)}">Controller</label>
            <p class="mg-b-20 mg-sm-b-40" th:text="${model.inwardTruckBag.inwardTruck.friendlyName}">Inward Truck
                Friendly Name</p>
            <div class="form-layout">
                <form data-parsley-validate="" enctype="multipart/form-data"
                      id="modelForm" method="post" th:action="@{'/admin/'+${controller}+'/save'}" th:object="${model}">
                    <div th:replace="fragments/alerts::alerts"></div>
                    <div th:replace="fragments/messages::messages"></div>
                    <div class="row mg-b-10">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.inwardtruckbag.bagtype}">Bag Type: </label>
                                <select class="form-control select2-show-search"
                                        th:field="*{inwardTruckBag.bagType}">
                                    <option th:each="bagType: ${bagTypes}"
                                            th:text="${bagType.friendlyName}"
                                            th:value="${bagType.id}"></option>
                                </select>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.inwardtruckbag.totalbags}">Total Bags: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <input class="form-control" data-parsley-min="1"
                                       data-parsley-trigger="change"
                                       data-parsley-type="digits" required=""
                                       th:data-parsley-max="${allowedBagsBalesDrums}"
                                       th:field="*{totalBags}"
                                       th:placeholder="#{admin.form.inwardtruckbag.totalbags}"
                                       type="text">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4" th:if="${needsManualWeighment}">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.inwardtruckbag.manualweight}">Average Manual Weight Per Bag
                                    (kg): </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <input class="form-control" data-parsley-pattern="^((\d+)((\.\d{1,3})?))$"
                                       data-parsley-trigger="change" data-parsley-type="number"
                                       min="0" required=""
                                       th:field="*{inwardTruckBag.manualWeight}"
                                       th:placeholder="#{admin.form.inwardtruckbag.manualweight}"
                                       type="text">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" th:text="#{admin.form.inwardtruckbag.totalweight}">Expected
                                    Total
                                    Weight (kg): </label>
                                <input class="form-control" data-parsley-maxlength="255" data-parsley-min="0"
                                       data-parsley-trigger="change" id="totalweight"
                                       readonly
                                       required="" th:placeholder="#{admin.form.inwardtruckbag.totalweight}"
                                       type="text">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" th:text="#{admin.form.inwardtruckbag.netweight}">Expected
                                    Net
                                    Weight (kg): </label>
                                <input class="form-control" data-parsley-maxlength="255" data-parsley-min="0"
                                       data-parsley-trigger="change" id="netweight"
                                       readonly
                                       required="" th:placeholder="#{admin.form.inwardtruckbag.netweight}"
                                       type="text">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.inwardtruckbag.warehousestack}">Warehouse
                                    Stack: </label><span
                                    class="tx-danger">&nbsp;*</span><small id="stackdetails"></small>
                                <select class="form-control select2-show-search"
                                        th:field="*{inwardTruckBag.warehouseStack}">
                                    <option th:each="warehouseStack: ${warehouseStacks}"
                                            th:text="${warehouseStack.friendlyName}"
                                            th:value="${warehouseStack.id}"></option>
                                </select>
                            </div>
                        </div><!-- col-4 -->
                    </div><!-- row -->
                    <div class="form-layout-footer">
                        <input class="form-control" th:field="*{inwardTruckBag.id}" th:value="*{inwardTruckBag.id}"
                               type="hidden"/>
                        <input class="form-control" th:field="*{inwardTruckBag.calculatedWeight}"
                               th:value="*{inwardTruckBag.calculatedWeight}"
                               type="hidden"/>
                        <input class="form-control" th:field="*{inwardTruckBag.externalQc}"
                               th:value="*{inwardTruckBag.externalQc}" type="hidden"/>
                        <input class="form-control" th:field="*{inwardTruckBag.lien}"
                               th:value="*{inwardTruckBag.lien}" type="hidden"/>
                        <input class="form-control" th:field="*{inwardTruckBag.doModel}"
                               th:value="*{inwardTruckBag.doModel}" type="hidden"/>
                        <input class="form-control" th:field="*{inwardTruckBag.outward}"
                               th:value="*{inwardTruckBag.outward}" type="hidden"/>
                        <input class="form-control" th:field="*{inwardTruckBag.inwardTruck}"
                               th:value="*{inwardTruckBag.inwardTruck}" type="hidden"/>
                        <button class="btn btn-primary bd-0" name="submit" th:text="#{admin.form.submit}" type="submit">
                            Submit
                        </button>
                        <button class="btn btn-secondary bd-0" name="reset" th:text="#{admin.form.reset}" type="reset">
                            Reset
                        </button>
                    </div>
                </form>
            </div><!-- form-layout -->
        </div><!-- section-wrapper -->
    </div><!-- container -->
    <script th:inline="javascript">
        $(document).ready(
            function () {
                /*<![CDATA[*/
                var warehouseStackUsageCount = /*[[${warehouseStackUsageCount}]]*/ 'default';
                var warehouseStackUsageWeight = /*[[${warehouseStackUsageWeight}]]*/ 'default';
                var warehouseMadeUpBagStackUsageCount = /*[[${warehouseMadeUpBagStackUsageCount}]]*/ 'default';
                var bagTypes = /*[[${bagTypes}]]*/ 'default';
                var stackusagecount = /*[[#{admin.form.inwardtruckbag.currentstackusage}]]*/ 'default';
                var stackweightcount = /*[[#{admin.form.inwardtruckbag.currentstackbags}]]*/ 'default';
                var stackmadeupbagusagecount = /*[[#{admin.form.inwardtruckbag.currentmadeupbagstackusage}]]*/ 'default';
                var stackmadeupbagusagepercentage = /*[[#{admin.form.inwardtruckbag.currentmadeupbagstackpercent}]]*/ 'default';
                /*]]>*/

                $('#inwardTruckBag\\.warehouseStack').on('change', function () {
                    var id = $(this).val();
                    var stackdetails = 0;
                    var weightdetails = 0;
                    var madeupbagdetails = 0;
                    var madeupbagdetailspercentage = 0;
                    if (warehouseStackUsageCount.hasOwnProperty(id)) {
                        stackdetails += warehouseStackUsageCount[id];
                    }
                    if (warehouseStackUsageWeight.hasOwnProperty(id)) {
                        weightdetails += warehouseStackUsageWeight[id];
                        weightdetails = weightdetails.toFixed(3)
                    }
                    if (warehouseMadeUpBagStackUsageCount.hasOwnProperty(id)) {
                        madeupbagdetails += warehouseMadeUpBagStackUsageCount[id];
                    }
                    if (madeupbagdetails > 0 && stackdetails > 0) {
                        madeupbagdetailspercentage = parseFloat((madeupbagdetails / stackdetails) * 100).toFixed(2);
                    }
                    $("#stackdetails").html(" " + stackusagecount + " " + stackdetails + " " + stackweightcount + " " + weightdetails + " " +
                        stackmadeupbagusagecount + " " + madeupbagdetails + " " + stackmadeupbagusagepercentage + " " + madeupbagdetailspercentage);
                }).change();

                $('#totalBags').on('blur', function () {
                    var totalBags = parseInt($(this).val());
                    var bagTypeSelected = $("#inwardTruckBag\\.bagType").val();
                    if (totalBags > 0) {
                        $(bagTypes).each(function (index) {
                            var bagType = bagTypes[index];
                            if (bagType.id == bagTypeSelected) {
                                var bagWeight = parseFloat(bagType.capacity);
                                var emptyWeight = parseFloat(bagType.emptyWeight);
                                var bagNetWeight = bagWeight - emptyWeight;
                                $('#inwardTruckBag\\.calculatedWeight').val(bagNetWeight);
                                var totalWeight = totalBags * bagWeight;
                                $("#totalweight").val(totalWeight);
                                var netWeight = totalBags * (bagWeight - emptyWeight);
                                $("#netweight").val(netWeight);
                            }
                        });
                    }
                });
            });
    </script>
</div><!-- slim-mainpanel -->
</html>
