<!DOCTYPE html>
<html lang="en" th:fragment="adminedit" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Meta -->
    <meta name="description" th:content="#{header.title}">
    <meta name="author" th:content="#{header.author}">

    <title th:text="#{header.title}">Title</title>

    <!-- Favicons-->
    <link rel="shortcut icon" sizes="16x16" th:href="@{/custom/img/favicon.ico}"/>

    <!-- Vendor css -->
    <link rel="stylesheet" th:href="@{/slim/lib/font-awesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/slim/lib/Ionicons/css/ionicons.css}">
    <link rel="stylesheet" th:href="@{/custom/plugins/chosen/chosen.min.css}">
    <link rel="stylesheet" th:href="@{/custom/plugins/chosen/bootstrap-chosen.css}">
    <link rel="stylesheet" th:href="@{/slim/lib/jquery.steps/css/jquery.steps.css}">

    <!-- Slim CSS -->
    <link rel="stylesheet" th:href="@{/slim/css/slim.css}">

    <!-- Custom css -->
    <link rel="stylesheet" th:href="@{/custom/css/custom.css}">

    <script th:src="@{/slim/lib/jquery/js/jquery.js}"></script>

</head>
<body>

<div class="slim-header" th:include="fragments/header::header"></div><!-- slim-header -->

<div class="slim-navbar" th:include="fragments/navbar::navbar"></div><!-- slim-navbar -->

<div class="slim-mainpanel" th:include="this::content"></div><!-- slim-mainpanel -->

<div class="slim-footer" th:include="fragments/footer::footer"></div><!-- slim-footer -->

<script th:src="@{/slim/lib/popper.js/js/popper.js}"></script>
<script th:src="@{/slim/lib/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/slim/lib/jquery.cookie/js/jquery.cookie.js}"></script>
<script th:src="@{/slim/lib/moment/js/moment.js}"></script>
<script th:src="@{/slim/lib/jquery-ui/js/jquery-ui.js}"></script>
<script th:src="@{/slim/lib/parsleyjs/js/parsley.js}"></script>
<script th:src="@{/custom/plugins/blockui/jquery.blockUI.js}"></script>
<script th:src="@{/custom/plugins/chosen/chosen.jquery.min.js}"></script>
<script th:src="@{/slim/lib/jquery.steps/js/jquery.steps.js}"></script>
<script th:src="@{/slim/js/slim.js}"></script>
<script th:src="@{/custom/js/custom.js}"></script>
<script>
    $(function () {
        'use strict';

        $('.form-layout .form-control').on('focusin', function () {
            $(this).closest('.form-group').addClass('form-group-active');
        });

        $('.form-layout .form-control').on('focusout', function () {
            $(this).closest('.form-group').removeClass('form-group-active');
        });

        // Chosen by showing the search
        $('.select2-show-search').chosen();

        $('.datecontrol').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            numberOfMonths: 2,
            dateFormat: 'yy-mm-dd'
        });

        $('.dob').datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            yearRange: '-100y:c+nn',
            maxDate: '-18y'
        });

        $(".validfrom").datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            numberOfMonths: 2,
            dateFormat: 'yy-mm-dd',
            onSelect: function (selected) {
                $(".validto").datepicker("option", "minDate", selected)
            }
        });

        $(".validto").datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            numberOfMonths: 2,
            dateFormat: 'yy-mm-dd'
        });

        $('.currentdatecontrol').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '-100y:c+nn',
            dateFormat: 'yy-mm-dd',
            maxDate: '0d'
        });

    });
</script>
</body>
</html>
