<!DOCTYPE html>
<html th:include="layouts/adminedit::adminedit"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="slim-mainpanel" th:fragment="content">
    <div class="container">
        <div th:replace="fragments/breadcrumbs::breadcrumbs"></div>

        <div class="section-wrapper">
            <label class="section-title" th:text="${#strings.capitalizeWords(friendlyController)}">Controller</label>
            <div class="form-layout">
                <form data-parsley-validate="" id="modelForm"
                      method="post" th:action="@{'/admin/'+${controller}+'/save'}" th:object="${model}">
                    <div th:replace="fragments/alerts::alerts"></div>
                    <div th:replace="fragments/messages::messages"></div>
                    <div class="row mg-b-10">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" th:text="#{admin.form.name}">Name: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <input class="form-control" data-parsley-maxlength="255" data-parsley-minlength="2"
                                       data-parsley-trigger="change"
                                       required="" th:field="*{name}"
                                       th:placeholder="#{admin.form.name}" type="text">
                            </div>
                        </div><!-- col-12 -->
                    </div><!-- row -->
                    <div class="row mg-b-10">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" th:text="#{admin.form.bank.ifsc}">IFSC: </label><span
                                    class="tx-danger">&nbsp;*</span>&nbsp;<small class="tx-primary"
                                                                                 th:text="#{admin.helper.ifsc}">(Format
                                is 4 letters followed by 0 followed by 6 digits)
                            </small>
                                <input class="form-control" data-parsley-maxlength="11" data-parsley-minlength="11"
                                       data-parsley-pattern="^[A-Za-z]{4}0[A-Z0-9a-z]{6}$"
                                       data-parsley-trigger="change" required=""
                                       th:field="*{ifscCode}" th:placeholder="#{admin.form.bank.ifsc}"
                                       type="text">
                            </div>
                        </div><!-- col-12 -->
                    </div><!-- row -->
                    <div class="row mg-b-10">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.bank.bank}">Bank: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <select class="form-control select2-show-search" th:field="*{bank}">
                                    <option th:each="bank: ${banks}" th:text="${bank.name}"
                                            th:value="${bank.id}"></option>
                                </select>
                            </div>
                        </div><!-- col-12 -->
                    </div><!-- row -->

                    <div class="form-layout-footer">
                        <input class="form-control" th:field="*{id}" th:value="*{id}" type="hidden"/>
                        <button class="btn btn-primary bd-0" name="submit" th:text="#{admin.form.submit}" type="submit">
                            Submit
                        </button>
                        <button class="btn btn-secondary bd-0" name="reset" th:text="#{admin.form.reset}" type="reset">
                            Reset
                        </button>
                    </div><!-- form-layout-footer -->
                </form>
            </div><!-- form-layout -->
        </div><!-- section-wrapper -->
    </div><!-- container -->
</div><!-- slim-mainpanel -->

</html>