<!DOCTYPE html>
<html th:include="layouts/adminedit::adminedit"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="slim-mainpanel" th:fragment="content">
    <div class="container">
        <div th:replace="fragments/breadcrumbs::breadcrumbs"></div>

        <div class="section-wrapper">
            <label class="section-title" th:text="${#strings.capitalizeWords(friendlyController)}">Controller</label>
            <div class="form-layout">
                <form data-parsley-validate="" id="modelForm"
                      method="post" th:action="@{'/admin/'+${controller}+'/save'}" th:object="${model}">
                    <div th:replace="fragments/alerts::alerts"></div>
                    <div th:replace="fragments/messages::messages"></div>
                    <div class="row mg-b-10">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" th:text="#{admin.form.insurance.policynumber}">Policy
                                    Number: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <input class="form-control" data-parsley-maxlength="255" data-parsley-minlength="2"
                                       data-parsley-trigger="change"
                                       required="" th:field="*{policyNumber}"
                                       th:placeholder="#{admin.form.insurance.policynumber}" type="text">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" th:text="#{admin.form.insurance.effectivefrom}">Effective
                                    From: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <input class="form-control" data-parsley-trigger="change"
                                       th:field="*{effectiveFrom}"
                                       th:max="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}"
                                       th:placeholder="#{admin.form.insurance.effectivefrom}"
                                       type="date">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" th:text="#{admin.form.insurance.effectiveto}">Effective
                                    To: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <input class="form-control" data-parsley-trigger="change"
                                       th:field="*{effectiveTo}"
                                       th:min="${#dates.format(#dates.createNow(), 'YYYY-MM-dd')}"
                                       th:placeholder="#{admin.form.insurance.effectiveto}"
                                       type="date">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" th:text="#{admin.form.insurance.suminsured}">Sum
                                    Insured: </label>
                                <input class="form-control" data-parsley-trigger="change"
                                       data-parsley-type="number"
                                       min="0" th:field="*{sumInsured}"
                                       th:placeholder="#{admin.form.insurance.suminsured}"
                                       type="text">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" th:text="#{admin.form.insurance.premiumamount}">Premium
                                    Amount: </label>
                                <input class="form-control" data-parsley-trigger="change"
                                       data-parsley-type="number"
                                       min="0" th:field="*{premiumAmount}"
                                       th:placeholder="#{admin.form.insurance.premiumamount}"
                                       type="text">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.insurance.threshold}">Threshold: </label>
                                <input class="form-control" data-parsley-trigger="change"
                                       data-parsley-type="number"
                                       min="0" th:field="*{threshold}"
                                       th:placeholder="#{admin.form.insurance.threshold}"
                                       type="text">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.insurance.insurer}">Insurer: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <input class="form-control" data-parsley-maxlength="255" data-parsley-minlength="2"
                                       data-parsley-trigger="change"
                                       required="" th:field="*{insurer}"
                                       th:placeholder="#{admin.form.insurance.insurer}" type="text">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.insurance.remarks}">Remarks: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <textarea class="form-control" data-parsley-minlength="2"
                                          data-parsley-trigger="change"
                                          required="" th:field="*{remarks}"
                                          th:placeholder="#{admin.form.insurance.remarks}"></textarea>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.active}">Active: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <select class="form-control select2-show-search" th:field="*{active}">
                                    <option th:text="#{admin.form.option.yes}" th:value="'1'"></option>
                                    <option th:text="#{admin.form.option.no}" th:value="'0'"></option>
                                </select>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.insurance.policytype}">Policy Type: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <select class="form-control select2-show-search" th:field="*{policyType}">
                                    <option th:each="policyType: ${policyTypes}" th:text="${policyType.name}"
                                            th:value="${policyType.id}"></option>
                                </select>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.insurance.policyowner}">Policy Owner: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <select class="form-control select2-show-search" th:field="*{policyOwner}">
                                    <option th:each="policyOwner: ${policyOwners}" th:text="${policyOwner.name}"
                                            th:value="${policyOwner.id}"></option>
                                </select>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.insurance.businesstype}">Business Type: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <select class="form-control select2-show-search" th:field="*{businessType}">
                                    <option th:each="businessType: ${businessTypes}" th:text="${businessType.name}"
                                            th:value="${businessType.id}"></option>
                                </select>
                            </div>
                        </div><!-- col-4 -->
                    </div><!-- row -->

                    <div class="form-layout-footer">
                        <input class="form-control" th:field="*{id}" th:value="*{id}" type="hidden"/>
                        <button class="btn btn-primary bd-0" name="submit" th:text="#{admin.form.submit}" type="submit">
                            Submit
                        </button>
                        <button class="btn btn-secondary bd-0" name="reset" th:text="#{admin.form.reset}" type="reset">
                            Reset
                        </button>
                    </div><!-- form-layout-footer -->
                </form>
            </div><!-- form-layout -->
        </div><!-- section-wrapper -->
    </div><!-- container -->
</div><!-- slim-mainpanel -->

</html>