<!DOCTYPE html>
<html th:include="layouts/admintable::admintable"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="slim-mainpanel" th:fragment="content">
    <div class="container">
        <div th:replace="fragments/breadcrumbs::breadcrumbs"></div>

        <div class="section-wrapper">
            <div th:replace="fragments/messages::messages"></div>
            <div class="table-wrapper">
                <table class="table table-bordered display responsive nowrap" id="datatable1"
                       th:if="${!models.isEmpty()}">
                    <thead class="thead-colored bg-info">
                    <tr>
                        <th class="wd-5p" th:text="#{admin.grid.id}">Id</th>
                        <th class="wd-15p" th:text="#{admin.grid.date}">Date</th>
                        <th class="wd-15p" th:text="#{admin.grid.status}">Status</th>
                        <th class="wd-15p" th:text="#{admin.grid.locked}">Locked</th>
                        <th th:text="#{admin.grid.actions}">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="model :${models}">
                        <td th:text="${model.id}"></td>
                        <td th:text="${#dates.format(model.contractDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${friendlyStatusMap.get(model.status)}"></td>
                        <td th:text="${model.locked}"></td>
                        <td>
                            <a class="btn btn-success btn-icon"
                               th:href="@{'/admin/'+${controller}+'/lock-edit/'}"
                               th:title="#{admin.grid.edit}">
                                <div><i class="icon ion-edit"></i></div>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-wrapper -->
        </div><!-- section-wrapper -->
    </div><!-- container -->
</div><!-- slim-mainpanel -->

</html>