<!DOCTYPE html>
<html th:include="layouts/admintable::admintable"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<div class="slim-mainpanel" th:fragment="content">
    <div class="container">
        <div th:replace="fragments/breadcrumbs::breadcrumbs"></div>

        <div class="section-wrapper">
            <div th:replace="fragments/messages::messages"></div>
            <div class="table-wrapper">
                <table class="table table-bordered display responsive nowrap" id="datatable1"
                       th:if="${!models.isEmpty()}">
                    <thead class="thead-colored bg-info">
                    <tr>
                        <th class="wd-5p" th:text="#{admin.grid.id}">Id</th>
                        <th class="wd-15p" th:text="#{admin.grid.outward.do}">DO</th>
                        <th class="wd-15p" th:text="#{admin.grid.outward.cdf}">CDF</th>
                        <th class="wd-15p" th:text="#{admin.grid.outward.status}">Status</th>
                        <th th:text="#{admin.grid.actions}">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="model :${models}">
                        <td th:text="${model.id}"></td>
                        <td th:text="${model.doModel.doNumber}"></td>
                        <td th:text="${model.cdfNumber}"></td>
                        <td th:text="${model.status}"></td>
                        <td>
                            <a class="btn btn-success btn-icon"
                               sec:authorize="hasAnyRole('IW_OW_OPS')"
                               th:href="@{'/admin/'+${controller}+'/edit/'+${model.id}}"
                               th:title="#{admin.grid.edit}">
                                <div><i class="icon ion-edit"></i></div>
                            </a>
                            <a class="btn btn-pink btn-icon viewremarks"
                               href="javascript:void(0);"
                               th:data-outward="${model.id}" th:title="#{admin.grid.remarks}">
                                <div><i class="icon ion-document-text"></i></div>
                            </a>
                            <a class="btn btn-indigo btn-icon"
                               sec:authorize="hasAnyRole('MIS_OPS')"
                               th:href="@{'/admin/'+${controller}+'/review-approval/'+${model.id}}"
                               th:title="#{admin.grid.outward.reviewapproval}">
                                <div><i class="icon ion-settings"></i></div>
                            </a>
                            <a class="btn btn-danger btn-icon"
                               onclick="return confirm('Are you sure you want to delete this record?');"
                               sec:authorize="hasAnyRole('ROLE_IW_OW_OPS')"
                               th:href="@{'/admin/'+${controller}+'/delete/'+${model.id}}"
                               th:title="#{admin.grid.delete}">
                                <div><i class="icon ion-close"></i></div>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-wrapper -->
        </div><!-- section-wrapper -->
        <div class="modal fade" id="remarksmodal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content tx-size-sm">
                    <div class="modal-header pd-x-20">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold" th:text="#{admin.grid.remarks}">
                            Remarks</h6>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pd-20">
                        <p class="mg-b-5" id="modalcontent"></p>
                    </div><!-- modal-body -->
                    <div class="modal-footer"></div>
                </div>
            </div><!-- modal-dialog -->
        </div><!-- modal -->
    </div><!-- container -->
    <script th:inline="javascript">
        $(document).ready(
            function () {
                $('.viewremarks').click(function (e) {
                    e.preventDefault();
                    var getUrl = window.location;
                    var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
                    var outward = $(this).data("outward");
                    if (outward) {
                        $.ajax({
                            url: baseUrl + '/outward-remark/getByInward/' + outward,
                            type: "GET",
                            contentType: 'application/json',
                            beforeSend: function () {
                                $("#modalcontent").html('');
                            },
                            success: function (data) {
                                var remarks = '';
                                if (data.length > 0) {
                                    $(data).each(function (index) {
                                        var remarkDate = new Date(data[index].remarkDate);
                                        remarks += '<em>' + data[index].remark + '</em><br/><small class="tx-primary tx-bold">'
                                            + data[index].user.employee.name + '&nbsp;(<em>' + remarkDate.toISOString().split('T')[0] +
                                            ')</em></small><br/><br/>'
                                    });
                                }
                                $("#modalcontent").html(remarks);
                                $('#remarksmodal').modal('show');
                            }
                        });
                    }
                });
            });
    </script>
</div><!-- slim-mainpanel -->

</html>