<!DOCTYPE html>
<html th:include="layouts/adminedit::adminedit"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="slim-mainpanel" th:fragment="content">
    <div class="container">
        <div th:replace="fragments/breadcrumbs::breadcrumbs"></div>

        <div class="section-wrapper">
            <label class="section-title" th:text="${#strings.capitalizeWords(friendlyController)}">Controller</label>
            <div class="form-layout">
                <form data-parsley-validate="" enctype="multipart/form-data"
                      id="modelForm" method="post" th:action="@{'/admin/'+${controller}+'/review-approval-save'}"
                      th:object="${model}">
                    <div th:replace="fragments/alerts::alerts"></div>
                    <div th:replace="fragments/messages::messages"></div>
                    <div class="row mg-b-10">
                        <div class="col-lg-12">
                            <div aria-multiselectable="true" class="accordion-two accordion-two-primary mg-b-25"
                                 id="accordion3"
                                 role="tablist">
                                <div class="card">
                                    <div class="card-header" role="tab"
                                         th:id="${'heading' + model.lr.id}">
                                        <a aria-expanded="true" class="tx-gray-800 transition"
                                           data-parent="#accordion3"
                                           data-toggle="collapse"
                                           th:aria-controls="${'collapse' + model.lr.id}"
                                           th:href="${'#collapse' + model.lr.id}"
                                           th:text="${model.lr.lrNumber}">
                                            LR Number
                                        </a>
                                    </div><!-- card-header -->
                                    <div class="collapse show"
                                         role="tabpanel"
                                         th:aria-labelledby="${'heading' + model.lr.id}"
                                         th:id="${'collapse' + model.lr.id}">
                                        <div class="card-body">
                                            <div class="row mg-b-10">
                                                <div class="col-lg-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover mg-b-0">
                                                            <tbody>
                                                            <tr>
                                                                <td th:text="#{admin.table.lr.number}">
                                                                    LR Number
                                                                </td>
                                                                <td th:text="${lrDomain.lr.lrNumber}">LR Number
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td th:text="#{admin.table.lr.date}">
                                                                    Date Of Lien Removal
                                                                </td>
                                                                <td th:text="${#dates.format(lrDomain.lr.lrDate,'dd-MMM-yyyy')}">
                                                                    LR Number
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td th:text="#{admin.table.lr.businesstype}">
                                                                    Business Type
                                                                </td>
                                                                <td th:text="${model.lr.businessType.name}">
                                                                    Business Type
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td th:text="#{admin.table.lr.bagdetails}">
                                                                    Bag Details
                                                                </td>
                                                                <td>
                                                                    <ul class="list-group list-group-striped">
                                                                        <li class="list-group-item"
                                                                            th:each="bagType: ${lrDomain.bagTypeTotals}">
                                                                            <p class="mg-b-0">
                                                                                <span class="text-danger"
                                                                                      th:text="${bagType.key.friendlyName}">Bag Type</span>
                                                                                <span class="text-danger"
                                                                                      th:text="${bagType.value}">Total Bags</span>
                                                                            </p>
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td th:text="#{admin.table.lr.documents}">
                                                                    Documents
                                                                </td>
                                                                <td>
                                                                    <ul class="list-group list-group-striped">
                                                                        <li class="list-group-item"
                                                                            th:if="${model.lr.roDocument != null}">
                                                                            <p class="mg-b-0">
                                                                                <a class="tx-indigo"
                                                                                   target="_blank"
                                                                                   th:href="@{'/admin/document/download/'+${model.lr.roDocument.getId()}}"
                                                                                   th:text="#{admin.table.lr.rodocument}"
                                                                                   th:title="#{admin.table.lr.rodocument}">RO
                                                                                    Document
                                                                                </a>
                                                                            </p>
                                                                        </li>
                                                                        <li class="list-group-item"
                                                                            th:if="${model.lr.roEmailDocument != null}">
                                                                            <p class="mg-b-0">
                                                                                <a class="tx-indigo"
                                                                                   target="_blank"
                                                                                   th:href="@{'/admin/document/download/'+${model.lr.roEmailDocument.getId()}}"
                                                                                   th:text="#{admin.table.lr.roemaildocument}"
                                                                                   th:title="#{admin.table.lr.roemaildocument}">RO
                                                                                    Email Document
                                                                                </a>
                                                                            </p>
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div><!-- col-12 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row -->
                    <div class="row mg-b-10">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label"
                                       th:text="#{admin.form.lr.remarks}">Remarks: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <small>
                                    <a class="tx-indigo viewremarks"
                                       href="javascript:void(0);" th:data-lr="${model.lr.id}"
                                       th:text="#{admin.grid.existingremarks}">View Existing Remarks
                                    </a>
                                </small>
                                <textarea class="form-control" data-parsley-minlength="2"
                                          data-parsley-trigger="change"
                                          required="" th:field="*{remark}"
                                          th:placeholder="#{admin.form.lr.remarks}"></textarea>
                            </div>
                        </div><!-- col-12 -->
                    </div><!-- row -->
                    <div class="row mg-b-10">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label tx-success tx-bold"
                                       th:text="#{admin.form.lr.status}">Status: </label><span
                                    class="tx-danger">&nbsp;*</span>
                                <select class="form-control select2-show-search"
                                        th:field="*{status}">
                                    <option th:each="status: ${statuses}"
                                            th:text="${status}"
                                            th:value="${status}"></option>
                                </select>
                            </div>
                        </div><!-- col-12 -->
                    </div><!-- row -->
                    <div class="form-layout-footer">
                        <input class="form-control" th:field="*{lr}"
                               th:value="*{lr}" type="hidden"/>
                        <button class="btn btn-primary bd-0" name="submit" th:text="#{admin.form.submit}"
                                type="submit">
                            Submit
                        </button>
                        <button class="btn btn-secondary bd-0" name="reset" th:text="#{admin.form.reset}"
                                type="reset">
                            Reset
                        </button>
                    </div>
                </form>
            </div><!-- form-layout -->
        </div><!-- section-wrapper -->
        <div class="modal fade" id="remarksmodal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content tx-size-sm">
                    <div class="modal-header pd-x-20">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold" th:text="#{admin.grid.remarks}">
                            Remarks</h6>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pd-20">
                        <p class="mg-b-5" id="modalcontent"></p>
                    </div><!-- modal-body -->
                    <div class="modal-footer"></div>
                </div>
            </div><!-- modal-dialog -->
        </div><!-- modal -->
    </div><!-- container -->
    <script th:inline="javascript">
        $(document).ready(
            function () {
                $('.viewremarks').click(function (e) {
                    e.preventDefault();
                    var getUrl = window.location;
                    var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
                    var lr = $(this).data("lr");
                    if (lr) {
                        $.ajax({
                            url: baseUrl + '/lr-remark/getByLr/' + lr,
                            type: "GET",
                            contentType: 'application/json',
                            beforeSend: function () {
                                $("#modalcontent").html('');
                            },
                            success: function (data) {
                                var remarks = '';
                                if (data.length > 0) {
                                    $(data).each(function (index) {
                                        var remarkDate = new Date(data[index].remarkDate);
                                        remarks += '<em>' + data[index].remark + '</em><br/><small class="tx-primary tx-bold">'
                                            + data[index].user.employee.name + '&nbsp;(<em>' + remarkDate.toISOString().split('T')[0] +
                                            ')</em></small><br/><br/>'
                                    });
                                }
                                $("#modalcontent").html(remarks);
                                $('#remarksmodal').modal('show');
                            }
                        });
                    }
                });
            });
    </script>
</div><!-- slim-mainpanel -->
</html>
